// Color scheme
$black:#080000;
$white:#FFF;
$grey:#585656;
$red: #e75a55;
$blue: #8ad2df;


// Font family
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

// Font size
$x-small: 9px;
$small: 11px;
$medium:12px;
$large:17px;
$x-large: 21px;
$xx-large: 35px;
